<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="style.css">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static',    filename='css/site.css') }}" rel="stylesheet">
      <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">

</head>
<body>
    
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" style="background-color: black;">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">StockIQ</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('news') }}">News Headlines</a></li>
          <li><a class="nav-link scrollto " href="#!">Historical Data</a></li>
          <li><a class="nav-link scrollto " href="{{ url_for('analysis') }}">Analysis</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
</header>
<br><br><br><br><br>
<main id="main">
    <h1 class="title-center"><center>Stock Analysis</center></h1>
    <main id="main">
        <div class="row">
          <div class="col-md-6">
            <div style="padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;"> 
              <section id="about" class="about-mf sect-pt4 route">
                <div class="container">
                  <!--News-->
                  <div class="title-box-2"> 
                    <nav  class="navbar" style=" display: flex; justify-content: flex-start;">
                      <ul>
                        <li><a class="nav-link" href="#hero"><h5 class="title-center">^BSESN</h5></a></li>
                        <li class="dropdown"><a href="#"><span><h5 class="title-center">Select Stock</h5></span> <i class="bi bi-chevron-down"></i></a>
                          <ul>
                            <li><a href="">AAPL</a></li>
                            <li><a href="#">YESBANK</a></li>
                            <li><a href="#">^BSESN</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <p class="lead">
                    <br><b>Symbol:</b> ^BSESN<br><br>
                    The BSE Sensex, also known as the Bombay Stock Exchange Sensitive Index, 
                    is a stock market index of the Bombay Stock Exchange (BSE) in India. It 
                    comprises the top 30 stocks listed on the BSE based on market capitalization.
                     The BSE Sensex is considered to be one of the most prominent stock market
                      indices in India and is often used as a barometer of the Indian economy.</p>
                </div>
              </section>
            </div>
            <div> 
              <section id="about" class="about-mf sect-pt4 route">
                <div class="container">
                  <!--IMAGE2--><center>
                  <img src="{{ url_for('static', filename='images/^BSESN_LSTM.png') }}" class="img-fluid rounded b-shadow-a" alt=""></center>
                  <p class="lead"><center>LSTM IMAGE</center></p> 
                </div>
              </section>
            </div>
          </div>
          <div class="col-md-6">
            <div> 
              <section id="about" class="about-mf sect-pt4 route">
                <div class="container">
                  <!--IMAGE!--><center>
                  <img src="{{ url_for('static', filename='images/^BSESN.png') }}" class="img-fluid rounded b-shadow-a" alt=""></center>
                  <p class="lead"><center>^BSESN Stock</center></p>
                </div>
              </section>
            </div>
            <div> 
              <section id="about" class="about-mf sect-pt4 route">
                <div class="container">
                  <!--IMAGE2--><center>
                  <img src="{{ url_for('static', filename='images/^BSESN_sentiment.png') }}" class="img-fluid rounded b-shadow-a" alt=""></center>
                  <p class="lead"><center>Sentimental Analysis</center></p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>


    
        <!-- ======= Footer ======= -->
        <footer>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="copyright-box">
                    <p class="copyright">&copy; Copyright <strong>StockIQ</strong>. All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </footer><!-- End  Footer -->
      
          
      
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/modules/export-data.js"></script>
      <script src="https://code.highcharts.com/modules/accessibility.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
      
      <script src="{{ url_for('static',    filename='scripts/site.js') }}"></script>
      
</body>
</html>